*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    justify-items: center;
}

div#area{
    background-color: aqua;
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
}